<section ng-controller="TestModuleController" ng-init="newPerson()">
  <div class="page-header">
    <h1>New Person</h1>
  </div>
  <div class="col-md-12">
    <span ng-bind="person.firstName"></span> <span ng-bind="person.middleName"></span> <span ng-bind="person.lastName"></span><br>
    <span ng-bind="person.phone" ></span><br>
    <span ng-bind="person.email" ></span><br>
    <span ng-bind="person.address1" ></span><br>
    <span ng-bind="person.city" ></span>   <span ng-bind="person.state" ></span>    <span ng-bind="person.zip" ></span>
  </div>
</section>
